<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Period Tracker</title>
    <!-- Include CSS for styling -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="index">Period Tracker</h1>
    <div class="button-container">
         <button id="loginButton" class="ind-button" onclick="window.location.href='/login';" >Login</button>
        <button onclick="window.location.href='/signup';" class="ind-button">Sign Up</button>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
