<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login | Period Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1 class="heading"> Login to Period Tracker</h1>
<form id="loginForm" class="form-container">
    <p>Email Address: </p>
    <input type="email" id="login-email" placeholder="Email here" class="form" required>
    <br>
    <p>Password: </p>
    <input type="password" id="login-password" placeholder="Password here" class="form" required>
    <br>
    <br>
    <button type="submit" class="button-one">Login</button>
</form>

<p>First Time User?</p>
<button onclick="window.location.href='/signup';" id="signup-btn" class="button-one">Sign up</button>
</body>
</html>