<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Period Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">

     <!-- FullCalendar Core CSS -->
    <link href='/static/main.min.css' rel='stylesheet' />

    <!-- FullCalendar Core JS -->
    <script src='/static/main.min.js' defer></script>
</head>
<body>
<nav class="nav-container">
    <ul class="navbar">
        <div class="nav-group">
            <li><a href="/log">Log</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/recommendations">Recommendations</a></li>
            <li><a href="/sharedata">Share Data Securely </a></li>
        </div>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>

<section class="dashboard" id="dashboard">
    <div id="dashboard-slider">
        <!-- Slide 1: Welcome -->
        <div class="slide">
            <h1 id="slide-text">Welcome, <span id="user-first-name">{{ first_name }}!</span> </h1>
        </div>
    </div>
</section>

<section class="calender-section">
    <div id="calendar">
        <!-- Calendar implementation here -->
    </div>

    <div id="dayPopup" class="popup-modal" style="display:none;">
        <span class="close-popup" onclick="closePopup()">&times</span>
        <p>Select an option:</p>
        <div class="popup-content">
            <button onclick="markPeriodStart(selectedDate)" class="button">Period Start</button>
            <button onclick="markPeriodEnd(selectedDate)" class="button">Period End</button>
            <button onclick="deletePeriod()" class="button">Delete Period</button>
            <button id="addSymptomsBtn" class="button">Add Symptoms</button>
        </div>
    </div>

</section>
<script src="/static/mainScript.js"></script>
</body>
</html>