<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Recommendations | Period Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">

     <!-- FullCalendar Core CSS -->
    <link href='/static/main.min.css' rel='stylesheet' />

    <!-- FullCalendar Core JS -->
    <script src='/static/main.min.js' defer></script>
</head>
<body>
<nav class="nav-container">
    <ul class="navbar">
        <li><a href="/log">Log</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/recommendations">Recommendations</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>

<section class="recommendations-container">
    <div class="recommendations" id="fatigue">
        <h2>Dealing with Fatigue?</h2>
        <p><a href="https://www.londonwomenscentre.co.uk/info/news/not-ignore-tiredness-period#:~:
        text=Some%20ways%20to%20combat%20the,best%20fighter%20of%20period%20fatigue.">London Women's Centre</a>
            recommends that you drink plenty of water to avoid dehydration,
            sleep for at least 8 hours and include some exercises to your daily routine.</p>
    </div>

    <div class="recommendations" id="diarrhea">
        <h2>Six tips for managing menstrual diarrhea</h2>
        <ul>
            <li>1. Add more foods rich in omega-3 fatty acids to your diet</li>
            <li>2. Increase your fiber intake</li>
            <li>3. Avoid foods that aggravate diarrhea</li>
            <li>4. Boost your probiotic intake</li>
            <li>5. Eat more foods that contain potassium</li>
            <li>6. Stay hydrated</li>
            <a href="https://www.enterogermina.com/en-ae/gut-health/content-hub/diarrhea-during-period">enterogermina.com</a>
        </ul>
    </div>

    <div class="recommendations" id="pelvic-lower-back-pain">
        <h2>Looking for a quick home remedy to pelvic and lower back pain?</h2>
        <p>Apply heat to the abdomen! Heating pad, hot bath, not fire though, stay away from that.</p>
        <a href="https://www.medicalnewstoday.com/articles/324484#:~:text=Apply%20heat%20to%20the%20abdomen&text=
        Heat%20helps%20the%20uterine%20muscle,abdomen%2C%20back%2C%20and%20legs.">Click to Learn more!</a>
    </div>

    <div class="recommendations" id="headache">
        <h2>Menstrual migranes are the worst! Try these tips to help you with it</h2>
        <ul>
            <li>Ginger tea</li>
            <li>Essential oils</li>
            <li>CBD</li>
            <li>Over-the-counter medication</li>
        </ul>
        <a href="https://www.withcove.com/learn/hormonal-menstrual-migraine-headaches-treatment">From withcove.com</a>
    </div>

    <div class="recommendations" id="cramps">
        <h2>Deal with cramps or just get pregnant?</h2>
        <p>On one hand I get to deal with the devil for one week, on the other hand a child...hard to choose?</p>
        <p>Here are some tips from Medical News Today to help you deal with cramps:</p>
        <ul>
            <li>1. Apply heat to the abdomen</li>
            <li>2. Engage in gentle exercise</li>
            <li>3. Massage the abdomen</li>
            <li>4. Over-the-counter medication</li>
        </ul>
        <a href="https://www.medicalnewstoday.com/articles/324484#causes">For more info, click this link to check out
            what causes menstrual cramps.</a>
    </div>
</section>

</body>
</html>