<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup | Period Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="index">Period Tracker Setup</h1>
    <p class="paragraph"> To set up your account we need some information:</p>
    <form id="setupForm" class="form-container">
        <div class="form-group">
            <label for="lastPeriodDate">Date of Last Period:</label>
            <input type="date" id="lastPeriodDate" required>
        </div>
        <div class="form-group">
            <label for="averagePeriodLength">Average Period Length (in days):</label>
            <input type="number" id="averagePeriodLength" placeholder="e.g., 5" required>
        </div>
        <div class="form-group">
            <label for="averageCycleLength">Average Cycle Length (in days):</label>
            <input type="number" id="averageCycleLength" placeholder="e.g., 28" required>
        </div>
        <button type="submit" class="button">Submit</button>
    </form>

    <script src="/static/setupScript.js"></script>
</body>
</html>
