<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Share-Data-Securely| Period Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<nav class="nav-container">
    <ul class="navbar">
        <div class="nav-group">
            <li><a href="/log">Log</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/recommendations">Recommendations</a></li>
            <li><a href="/sharedata">Share Data Securely </a></li>
        </div>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>

<section id="share-data-section">
    <form id="share-form" class="form-container">
        <h2>Share Your Data</h2>
        <label for="recipient-email">Recipient's Email:</label>
        <input type="email" id="recipient-email" name="recipientEmail" required placeholder="Enter recipient's email">
        <br>
        <br>
        <label for="recipient-name">Recipient's Name:</label>
        <input type="text" id="recipient-name" name="recipientName" required placeholder="Enter recipient's name">
        <br>
        <br>
        <label for="share-password">Password for File:</label>
        <input type="password" id="share-password" name="sharePassword" required placeholder="Enter one-time password">
        <br>
        <br>
        <button type="submit" class="button">Send Report</button>
    </form>
</section>

<section id="download-data-section">
    <div class="form-container">
        <h2>Download Report</h2>
        <button type="button" id="download-report-btn" class="button" >Download Report</button>
        <form id="verify-user" class="hidden">
            <h2>For Security Purposes, enter Your Login Password</h2>
            <label for="login-password">Login Password: </label>
            <input type="password" id="login-password" name="loginPassword" required placeholder="Enter Password here">
            <br>
            <br>
            <button type="submit" class="button">Send</button>
        </form>
        <form id="encrypt-file" class="hidden">
            <h2>Enter Password for Encryption</h2>
            <label for="encrypt-password">Encryption Password: </label>
            <input type="password" id="encrypt-password" name="encryptPassword" required placeholder="Enter Password here">
            <br>
            <br>
            <button type="submit" class="button">Send</button>
        </form>
        <br>
        <br>
        <button type="button" id="download-report-success-btn" class="button hidden">Click to Download Report</button>
    </div>
</section>
</body>
<script src="/static/shareScript.js"></script>
</html>