<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | Task Man</title>
    <!-- Include CSS for styling -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="index">Sign Up</h1>
    <form id="signupForm" class="form-container">
        <p>First Name: </p>
        <input type="text" id="firstName" placeholder="First Name" class="form" required>
        <br>
        <p>Last Name: </p>
        <input type="text" id="lastName" placeholder="Last Name" class="form" required>
        <br>
        <p>Email Address: </p>
        <input type="email" id="email" placeholder="Email" class="form" required>
        <br>
        <p>Password: </p>
        <input type="password" id="password" placeholder="Password" class="form" required>
        <br>
        <br>
        <button type="submit" class="button">Sign Up</button>
    </form>
    <script src="/static/signupScript.js"></script>
</body>
</html>
